*.DS_Store
__pycache__/

.vscode/settings.json
output/
wout.nc
*.parquet*
*.nc*
log.txt
GX_database_create.py
stel_results.csv
*.DS_Store*
filtered_stel_results.csv
*input.*
*threed1*
fort.9
*parvmecinfo*
stel_results_copy.csv
.gitignore
stel_results_restored.csv
extra_objectives.py
stel_results_old.csv
simple_output*
simple.in
start.dat
fort.*
healaxis*
wouts.tar.xz
stel_results.csv
*stel_results*
